{% extends "NavigationPanel.html" %}
{% block content %}
<div class="Content">
    <form method="post" class="LoginForm">
        {% csrf_token %}
        {% load static %}
        <link href="{% static 'login.css' %}" type="text/css" rel="stylesheet">
        <h1 style="color: coral;"> Login</h1>
        <!--        <input type="text" placeholder="Enter Username" id="username">-->
        <!--        <input type="password" placeholder="Enter Password" id="password">-->
        {{ form.as_p }}
        <input type="submit" placeholder="Submit Login" value="Login">

        <script src="{% static 'login.js' %}"></script>
        <div class="SignIn">
            <p class="text-muted">
                Have an account? <a class="ml-2" href="">Sign In</a>
            </p>
        </div>
    </form>
</div>
{% endblock content %}