{% extends "NavigationPanel.html" %}
{% load i18n %}
{% load l10n %}
{% block content %}
<form method="post" class="LoginForm">
    {% csrf_token %}
    {% load static %}
    <link href="{% static 'register.css' %}" type="text/css" rel="stylesheet">
    <h1 style="color: coral;">{% trans 'LoginText' %}</h1>
    {{ form.as_p }}
    <input type="submit" placeholder="Submit Login" value="Login">
    <div class="SignIn">
        <p class="text-muted">
            Don't have an account? <a class="ml-2" href="{% url 'register-page' %}">Sign Up!</a>
        </p>
    </div>
</form>
{% endblock content %}