{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link href="{% static 'index.css' %}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>UI Madness</title>
</head>

<body>
<div class="TopPanel" id="TopPanel">
    <div class="WebPageName">
        <b>UI</b>
        <i><em>M</em></i><sub><strong>a</strong></sub><small>d</small><b>
        <ins>n</ins>
    </b><sup>e</sup>
        <del>s</del>
        <strong>s</strong>
    </div>
    <div class="TopPanelTop">
        <a class="MenuButton" id="MenuButton">{% trans 'MenuPageName' %}</a>
        <a href="{% url 'home-page' %}">{% trans 'HomePageName' %}</a>
        <a href="{% url 'start-page' %}">{% trans 'StartPageName' %}</a>
        <a href="{% url 'about-page' %}">{% trans 'AboutPageName' %}</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'login-page' %}">{% trans 'LoginPageName' %}</a>
        <a href="{% url 'register-page' %}">{% trans 'RegisterPageName' %}</a>
        {% endif %}

    </div>


    <div class="TopPanelBottom">
        <a href="https://www.reddit.com/r/badUIbattles/" target=_blank title="The thing that inspired this web site"><b>Inspired
            by</b></a>
    </div>
    {% if user.is_authenticated %}
    <div class="LogoutButton">
        <a href="{% url 'logout-page' %}">{% trans 'LogoutPageName' %}</a>
    </div>
    {% endif %}
</div>

<div id="SidePanel" class="SidePanel">
    <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
    <a href="#" onmousedown="play('{% static 'media/sounds/zzxxzxzx.mp3'%}')">aaaa</a>
    <a href="#" onmousedown="play('{% static 'media/sounds/rip-ears.mp3'%}')">aaaa!</a>
    <a href="#" onmousedown="play('{% static 'media/sounds/r2d2_scream_converted.mp3'%}')">aaaa?</a>
    <a href="#" onmousedown="play('{% static 'media/sounds/tom-aaaaaaaa.mp3'%}')">a</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile-page' %}">{% trans 'ProfilePageName' %}</a>
    {% endif %}
</div>

<div class="ScrollPanel" id="ScrollPanel">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}

</div>
<script src="{% static 'index.js' %}"></script>
</body>
</html>